CONFIG_DEFAULT_TEMP_SETPOINT=28
CONFIG_DEFAULT_CONTROL_ENABLED=y
CONFIG_DEFAULT_LOGGING_ENABLED=y
CONFIG_LOG_INTERVAL_MS=5000

CONFIG_SPIFFS_MAX_PARTITIONS=1
CONFIG_SPIFFS_CACHE=y
CONFIG_SPIFFS_PAGE_SIZE=256
CONFIG_SPIFFS_OBJ_NAME_LEN=32